/* This CSS stylesheet contains the common styling which is used across all the pages */

#header {
  background: #333;
  grid-area: header;
  color: #f2f2f2;
  text-align: center;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

/* Custom Font adjuster -small font */
#s-font {
  margin-left: 0.6em;
  font-size: 0.3em;
  color: #fc5c65;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}
/* Custom Font adjuster -medium font */
#m-font {
  font-size: 0.6em;
  color: #fc5c65;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
/* Custom Font adjuster -large font */
#l-font {
  font-size: 0.9em;
  color: #fc5c65;
  font-weight: normal;
}

#font-adjuster a {
  font-weight: normal;
  font-family: "Poppins", "Inter", sans-serif;
}

#header-logo {
  background: #333;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}
#header-logo a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}
#header-logo span {
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

/* navigation bar */
nav {
  grid-area: nav;
  border-radius: var(--main-radius);
  background-color: rgb(51, 51, 51);
}

nav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #fc5c65;
  color: black;
}

nav .icon {
  display: none;
}

/* Footer styling  */

footer {
  background: #333;
  padding-top: 0px;
  grid-area: footer;
  color: #f2f2f2;
  padding-bottom: 50px;
  margin-bottom: 0%;
}
.left-col {
  margin-right: 0px;
  margin-top: 10px;
}
.right-col {
  margin-right: 50px;
  margin-top: 10px;
  position: relative;
}
.footer-container {
  max-width: 100%;
  margin-bottom: 0em;
  margin-left: 2em;
  margin-right: 2em;

  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

#footer-logo {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: #f2f2f2;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #fc5c65;
}

.right-col h1 {
  font-size: 23px;
}

.border {
  width: 100px;
  height: 4px;
  background: #fc5c65;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 14px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.submit-btn {
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.submit-btn:hover {
  opacity: 0.7;
}

.page-content {
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topic-btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #333;
  padding: 17px 60px;
  margin: 0 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.topic-btn span {
  position: relative;
  z-index: 1;
}

.topic-btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #fc5c65;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.topic-btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
