/* importing custom font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/* Body styling */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

/* link styling */
a {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 300;
  font-size: small;
  color: blue;
  text-decoration: none;
}
/* Styling for the heading */
h3,
h2 {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: bold;
  font-size: large;
  color: white;
}
/* Styling for the paragraph */
p {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: normal;
  font-size: medium;
  color: white;
}
/*This is the main container/wrapper*/
.container {
  display: grid;
  height: 115vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.04fr 0.02fr auto 0.01fr auto 0.01fr auto 0.05fr;
  grid-template-areas:
    "header header header header "
    "nav nav nav nav"
    "main main main main"
    "football-release-divider football-release-divider football-release-divider football-release-divider"
    "footballs-release-1 footballs-release-2 footballs-release-3 footballs-release-3"
    "football-news-divider football-news-divider football-news-divider football-news-divider"
    "footballs-news-1 footballs-news-2 footballs-news-3 footballs-news-4"
    "footer footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  font-size: 12px;
  color: #004d40;
  text-align: center;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 5px;
}
/* This is for the football News banner/divider */
.latest-football-news-divider {
  grid-area: football-release-divider;
  background: #333;
  color: #f2f2f2;
  background-color: #333;
  text-align: left;
  font-size: 25px;
  font-family: "Poppins", "Inter", sans-serif;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.latest-footballs-releases-divider {
  grid-area: football-news-divider;
  background: #333;
  color: #f2f2f2;
  background-color: #333;
  text-align: left;
  font-size: 25px;
  font-family: "Poppins", "Inter", sans-serif;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  z-index: -1;
}
/* Main footballs News Slideshow */
.footballs-main-news {
  grid-area: main;
}
.slideshow-container {
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.3em;
  margin-bottom: 0em;
  border-radius: 25px;
}

.mySlides {
  display: none;
  margin-bottom: 0%;
}

.mySlides img {
  max-height: auto;
  width: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 0%;
  border-radius: 15px;
  filter: brightness(60%);
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -5px;
  padding: 3px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 1px 0 0 1px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Description*/
.text p {
  color: #f2f2f2;
  position: absolute;
  margin: 1em;
  margin-right: 3em;
  bottom: 0.5em;
  width: 90%;
  text-align: left;
}
/* Heading */
.text h3 {
  color: #f2f2f2;
  position: absolute;
  bottom: 6.5em;
  width: 100%;
  text-align: left;
  margin: 1em;
}

/* Hyperlink styling  */
.text a {
  color: blue;
  font-size: 12px;
}

/* Number text */
.number-text {
  color: white;
  position: absolute;
  margin: 1em;
  z-index: 9;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 0em;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Four football News article styling */
#footballs-news-1 {
  grid-area: footballs-news-1;
  margin: 0.5em;
}
#footballs-news-2 {
  grid-area: footballs-news-2;
  margin: 0.5em;
}
#footballs-news-3 {
  grid-area: footballs-news-3;
  margin: 0.5em;
}
#footballs-news-4 {
  grid-area: footballs-news-4;
  margin: 0.5em;
}

/* Three football Release article styling */
#footballs-release-1 {
  grid-area: footballs-release-1;
  margin: 0.5em;
}
#footballs-release-2 {
  grid-area: footballs-release-2;
  margin: 0.5em;
}
#footballs-release-3 {
  grid-area: footballs-release-3;
  margin: 0.5em;
}

/* Common article styling for all cards  */
.card {
  overflow: hidden;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: "Poppins", "Inter", sans-serif;
  min-height: 43em;
  background-color: white;
  overflow: scroll;
}

.card:hover {
  transform: scale(1.2);
}
.card-image {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.card-title {
  font-family: "Poppins", "Inter", sans-serif;
  color: black;
  text-align: center;
}
.card-description {
  font-family: "Poppins", "Inter", sans-serif;
  color: black;
  text-align: center;
  margin: 1em;
}

.card-link {
  font-family: "Poppins", "Inter", sans-serif;
  margin-bottom: 2em;
}

/* Responsive - Phone Display  */
@media only screen and (max-width: 550px) {
  .container {
    height: 145vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.04fr auto 0.01fr 0.01fr auto auto auto 0.01fr auto auto auto auto 0.02fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "football-news-divider"
      "footballs-release-1"
      "footballs-release-2"
      "footballs-release-3"
      "football-release-divider"
      "footballs-news-1"
      "footballs-news-2"
      "footballs-news-3"
      "footballs-news-4"
      "footer";
  }
  .nav a {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
  .nav.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
  .card {
    min-height: 500px;
  }
  .card:hover {
    transform: scale(1);
  }
  .submit-btn {
    margin: 0.8em;
    margin-top: 1.2em;
  }
  .left-col {
    margin-left: 4em;
  }
  .right-col {
    margin-left: 2em;
  }
  .card:hover {
    transform: scale(1);
  }
  .text p {
    color: #f2f2f2;
    font-size: 12px;
  }
  .text h3 {
    font-size: 13px;
    bottom: 6.5em;
  }
}
